body {
  margin: 0;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #002147;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 15px 0;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #004080;
}

.logout-btn {
  background-color: #e60000;
  padding: 10px;
  text-align: center;
  margin-top: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 30px;
  background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.99)),
    url("../images/bg.jpg") no-repeat center center/cover;
}

.main h1 {
  font-size: 28px;
  color: #ffffff;
}

#welcome {
  margin-top: 10px;
  font-size: 16px;
  color: #ffffff;
}
